@import 'normalize.css';

*,
*:before,
*:after {
  box-sizing: border-box;
}


.h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

// === MIXINS === //

@mixin panel {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #dce1e6, 0 0 0 1px #e7ebec;
}

// === // MIXINS === //


.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edeef0;
}

.wrapper {
  width: 100%;
  padding: 0px 20px;
}

.card {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  @include panel;
  margin: 0 auto;
}

.ranges {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.content {
  display: flex;
  align-items: center;
}

.text_wrapper {
  max-width: 200px;
  margin-left: 20px;
}

.text {
  padding: 10px 15px;
  border: 1px solid #edeef0;
  border-radius: 4px;

}

.header {
  padding: 20px 30px;
  border: 1px solid #edeef0;
  margin-bottom: 10px;
  &_content {
    display: flex;
  }
}

.btn_wrapper_item input[type=radio] {
  display: none;
}

.btn_wrapper_item input[type=radio]:checked + label {
  background-color: #bbc1e1;
  color: #fff;
}

.btn_wrapper_item label {
  height: 100%;
	cursor: pointer;
	user-select: none;
}

.btn_wrapper_item {
  & + & { margin-left: 20px; } 
}



.btn {
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: #6f7985;
  border: 1px solid #6f7985;
  padding: 10px 15px;
  transition: all .2s ease-in-out;
  &:hover {
    color: #000;
    border: 1px solid #000;;
  }
}

// 

#red, #green, #blue {
  float: left;
  clear: left;
  width: 100%;
  margin: 15px;
}
#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }


@media (max-width: 630px) {
  label span{
    font-size: 12px;
  }
  .btn {
    padding: 5px 10px;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .ranges {
    width: 100%;
    justify-content: center;
    margin-right: 20px;
  }
  .ui-widget-content {
    width: 100%;
  }
  .text_wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  .header_content {
    display: flex;
    flex-direction: column;
  }
  .btn_wrapper_item {
    & + & {
      margin-left: 0px;
      margin-top: 20px;
    }
    
  }
}